page-profile-create {

}
.scroll-content{
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.swiper-pagination {
  opacity: 1;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.swiper-pagination-bullet-active {
  background: color($colors, accent);
  opacity: 1;
}